.main-container{
    width: 23%;
    height: 91%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: black;
    flex-direction: column;
    position: relative;
    padding-bottom: 2vh;
    padding-top: 1vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    row-gap: 0.5vw;

    .head-container{
        width: 100%;
        align-items: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(19, 19, 19);
        border-radius: 5px;
        padding-block: 1vw;

        .home-btn{
            display: flex;
            align-items: center;
            padding-left: 1.5vw;
            padding-block: 0.7vw;
            gap: 15px;
            cursor: pointer;
            border: none;
            color: grey; /* Set default text color */
            background-color: rgb(19, 19, 19);
            &:hover {
                color: #fff; /* Change text color on hover */
            }
        }
    }

    .body-container{
        width: 100%;
        height: 100%;
        padding-top: 2vh;
        border-radius: 5px;
        background-color: rgb(19, 19, 19);
        
        .library{
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.5vw;
            .yourlib{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 11px;
                padding-left: 1.5vw;
                color: grey;

                h3{
                    font-size: medium;
                }
                
            }

            .rightlib{
                display: flex;
                color: grey;
                padding-right: 1vw;
                align-items: center;
                gap: 15px;

                .icon{
                    cursor: pointer;
                    &:hover {
                        color: #fff; /* Change text color on hover */
                    }
                }
                
            }
        }

        .playlist-container{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            padding-bottom: 13vw;
      
            .item-container{
                padding-top: 1vw;
                margin-inline: 1.5vw;
                display: flex;
                gap: 10px;
                cursor: pointer;
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 3px;
                }

                .txt-container{
                    display: flex;
                    flex-direction: column;
                }
            }

        }
    }
}
